---
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>jackson clayton</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.svg">
        <link rel="stylesheet" href="assets/css/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="module" src="/assets/js/main.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Geologica:wght@100..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            {% include desktop_navigation.html %}

            {% include mobile_navigation.html %}
        </header>
        <div id="mainWrapper" >
        <main>
            <p id="hello">hellooo
                {% include heart.svg %}
            </p>
            <p id="helloPara">
                welcome to my personal website, here you can find some more
                info about me and what i do
            </p>

            {% include header_drawing.svg %}

            {% include section_header.html section_link="about" section_title="ABOUT" %}

            <p>
                i am a software engineer currently employed at etsy. i graduated from
                tufts university in 2023 with a degree in computer science.
            </p>

            <p>
                for more detailed information about my skills and experience, check out
                my <a href="#resume"> resume </a> below.
            </p>

            <p>
                when i am not at my computer - i am also a tap dancer in the
                boston-based tap company,
                <a href="https://subjectmattertap.com"> subject:matter. </a>
            </p>

            {% include section_header.html section_link="experience" section_title="EXPERIENCE" %}
            
            <div id="experience">
                <h4> Etsy <span class="timeInRole"> August 2023 - Present </span></h4>
                <p> i am part of then search experience team. our job is to build and maintain etsy's search page.
                    as part of this team i have built and run a number of succesful experiments. one notable one includes
                    being a main contributor to a large project to update all of the search page's filters from an html and
                    javascript architecture to React! this was a large project that taught me a lot. </p>

                <h4> Subject:Matter Tap <span class="timeInRole"> 2018 - Present </span></h4>
                <p> as a member of subject matter i have taught and performed across the US and Canada. 
                    additionally, as the technical coordinator for the company, i have worked with venue staff
                    to design lighting and refine sound for dancers and band.
                </p>

                <h4> Teaching Assistant <span class="timeInRole" > June 2018 - August 2022</span></h4>
                <p>
                    worked for 6 semesters as a teaching assistant for the computer science department at tufts university.
                    as a teaching assistant i instructed and guided students in office hours, and lead labs of students to facilitate hands-on lessons. 
                    i learned to reason quickly about student’s code to debug complex algorithms, and developed an opinionated sense
                    of style and clarity in code. for three semesters i was the TA for the data structures course, and then for three semesters
                    i was the TA for the machine structure and assembly language programming, taught entirely in C. 
                </p>
            </div>

            {% include section_header.html section_link="projects" section_title="PROJECTS" %}

            <p>more info coming here soon...</p>

            {% include section_header.html section_link="contact" section_title="CONTACT" %}

            <p> i would love to hear from you! if you'd like, please fill out this form to get in touch and i will get back to you soon!</p>
            <form id="contactForm">
                    <input type="text" name="name" id="name" placeholder="name" rules="required|max:255"/>
                    <input type="email" name="email" id="email" placeholder="email" rules="required|max:255"/>
                    <textarea
                        name="message"
                        id="message"
                        placeholder="message"
                    ></textarea>
                    <input type="submit" id="submit" value="submit!"/> 

            </form>
            <p>or, if you prefer, you can reach me at:</p>
            <div class="socialLink">
                <a href="mailto:jacksonclayton00@gmail.com">{% include socials/email.svg %} jacksonclayton00@gmail.com</a>
            </div>
            <div class="socialLink">
                <a href="https://linkedin.com/in/jacksonclayton">
                    {% include socials/linkedin.svg %}
                    linkedin.com/in/jacksonclayton
                </a>
            </div>
            <div class="socialLink">
                <a href="https://instagram.com/in/jaxxonlayton">
                    {% include socials/ig.svg %}
                    instagram.com/jaxxonlayton
                </a>
            </div>
            
        </main>
</div>
        <footer id="desktopColorBlocks">
            <div id="colorBlockContainer">
                <span id="color-block-1">&nbsp</span>
                <span id="color-block-2">&nbsp</span>
                <span id="color-block-3">&nbsp</span>
                <span id="color-block-4">&nbsp</span>
                <span id="color-block-5">&nbsp</span>
            </div>
        </footer>
        {% include color_picker_popup.html %}
    </body>
</html>
