<!-- mobile_navigation.html -->
<div id="mobileNavToggle"> 
    <span></span>
    <span></span>
    <span></span>
</div>
<div id="mobileNav">
    <a href="#" id="name">
        {% include initials.svg %}
    </a>
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
    <div id="mobileColorBlocks">
        <div id="colorBlockContainerMobile">
            <span id="color-block-1">&nbsp</span>
            <span id="color-block-2">&nbsp</span>
            <span id="color-block-3">&nbsp</span>
            <span id="color-block-4">&nbsp</span>
            <span id="color-block-5">&nbsp</span>
        </div>
    </div>
</div>
